<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myroom">

    <dist:module dist:instant="true" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.myroom.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.myroom.activity.CreateRoomActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity android:name="com.myroom.activity.RoomDetailActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity android:name=".activity.GeneralSettingActivity"
            android:parentActivityName=".activity.MainActivity">

        </activity>

        <activity android:name=".activity.GeneralSettingUtilityActivity"
            android:parentActivityName=".activity.GeneralSettingActivity">
        </activity>

        <activity android:name=".activity.GeneralSettingOtherActivity"
            android:parentActivityName=".activity.GeneralSettingActivity">

        </activity>
    </application>

</manifest>